@charset "utf-8";

/* Resets */

/* Paul Irish - Box Sizing Reset 
   - https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
#container figure{
    flex:0 0 100%;
    text-align:center;
}
#container button{
    flex:0 0 auto;
}
#pop-up{
    width:300px;
    padding:10px;
    background-color: indianred;
    color:white;
    border:solid 1px black;
    box-shadow:0px 0px 5px yellow, 5px 5px 5px black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    /*
    animate this opacity property
    from 0 to 1    
    */
    opacity:0;
    /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
    pointer-events: none;
}
#btn-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    background-color: inherit;
    color:inherit;
    border:solid 1px white;
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}
img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #353535;
}

header, footer, main, article, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 nav a {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

p {
    line-height: 1.6;
    font-size: 1.15em;
}

li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

code {
    background-color: #eeeeee;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.warning {
    padding: 16px;
    background-color: #fdb3b3;
}

.warning p {
    margin: 0;
}

.warning:not(.warning-no-script){
    margin-bottom: 1em;
}



header {
    background-color: #f7df1c;
    padding: 20px;
}

header h1 {
    margin: 0;
    line-height: 1;
}

main {
    padding: 20px;
    flex: 1;
}

form {
    border: 1px solid #858585;
    padding: 20px;
    max-width: 360px;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.submit {
    margin-bottom: 0;
}

.input-group label {
    flex: 0 0 100px;
    font-size: 1.15em;
    margin-right: 10px;
}

.input-group input {
    display: block;
    flex: 1;
    width: 100%;
    padding: 4px;
    font-size: 1.15em;
}



footer {
    padding: 20px;
    border-top: 1px dotted #858585;
}

footer p {
    line-height: 1;
    margin: 0;
}

/* Utility Classes */

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

a{
	font-weight:bold;
	color:#b78731;
}
a:hover{
	color:orange;
	text-decoration:none;
}
pre{
	border:solid 1px black;
	padding:5px;
	border:solid 1px black;
}.error:before{
	/* 
	show a big red 'X' 
	the universal symbol of wrongness!
	*/
	font-size:1.25em;
	font-weight:bold;
	color:red;
	text-shadow:0px 0px 1px black;
	content: "\2716" " ";	
}
.correct:before{
	/* 
	show a big green check mark 
	*/
	font-size:1.25em;
	font-weight:bold;
	color:green;
	text-shadow:0px 0px 1px lightgreen;
	content: "\2714" " ";	
}
#error-messages{
    background-color: #fdb3b3;
}