/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end of of the great reset*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #ed7a09;
  margin: 1em auto;
}

h2 {
  font-size: 2em;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 700px;
}

button {
  font-size: 1.5em;
  padding: 0.25em 1em;
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
  color: #ed7a09;
  background-color: #fdfaeb;
  border: 2px solid #354728;
}

footer {
  padding: 2em;
}

#wrapper {
  width: 1024px;
  margin: auto;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfaeb;
}

img {
  display: inline;
  width: 64px;
}

#player-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px dashed #354728;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  background-color: #75ae88;
}

#player-info h2 {
  font-size: 2em;
  width: 200px;
  padding: 1em;
  font-weight: bold;
}

#computer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #354728;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  background-color: #f3c933;
}

#computer-info h2 {
  font-size: 2em;
  width: 200px;
  padding: 1em;
  font-weight: bold;
}

.dice-field {
  font-size: 4em;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.score-field {
  width: 100px;
  text-align: center;
}

.score-field h3 {
  font-size: 1.5em;
  padding: 16px;
}

.score-field p {
  font-size: 2.5em;
  padding-bottom: 16px;
}

.button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#rules-popup {
  width: 600px;
  height: 600px;
  padding: 32px;
  background-color: #d0d8e9;
  border: solid 3px #354728;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*
    animate this opacity property
    from 0 to 1    
    */
  opacity: 0;
  /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
  pointer-events: none;
}

#rules-popup h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

#rules-popup p {
  font-size: 1.5em;
  line-height: 1.25em;
  padding-bottom: 1em;
}

#btn-close {
  /* ensure pointer events will apply to the button */
  pointer-events: all;
}

#result-popup {
  display: none;
  text-align: center;
  width: 600px;
  height: 400px;
  padding: 32px;
  background-color: #d0d8e9;
  border: solid 3px #354728;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
  pointer-events: none;
}

#result-popup h2 {
  font-size: 2em;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
}

#result-popup p {
  font-size: 1.5em;
  line-height: 1.25em;
  padding-bottom: 1em;
}

#result-reset {
  /* ensure pointer events will apply to the button */
  pointer-events: all;
}
